html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 25px;
    
    
}

.links {
    display: flex;
    gap: 75px;
    margin-right: 50px;
    border-bottom: 2px black solid;
    padding: 10px 25px;
}


.links > * {
    text-decoration: none;
    color: black;
}

.links > *:hover {
    text-decoration: none;
    color: green;
}

.links > *:active {
    text-decoration: none;
    color: green;
}